<section class="header-index-contents">
    <div class="header-index-title title">
        <h2>ヘッダー一覧<h2>
    </div>
    <div class="header-content-contents">
        <table>
            <tr>
                <th>ID</th>
                <th>サイト名</th>
                <th></th>
                <th>URL</th>
                <th>作成日</th>
                <th></th>
            </tr>
            <tr>
                <td>1</td>
                <td>こんにちは</td>
                <td></td>
                <td>https://hoge.com</td>
                <td>2021/07/21</td>
                <td><a href="">編集</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>こんにちは</td>
                <td></td>
                <td>https://hoge.com</td>
                <td>2021/07/21</td>
                <td><a href="">編集</a></td>
            </tr>
        </table>
    </div>
</section>

<section class="header-index-new-form">
    <div class="header-index-title title">
        <h2>ヘッダー新規作成<h2>
    </div>
    <div class="header-forms">
        <form>
            <label>サイト名</label>
            <input type="text">
            <br>
            <label>ヘッダー画像</label>
            <input type="file">
            <br>
            <label>ヘッダー画像(差分)</label>
            <input type="file">
            <br>
            <label>URL</label>
            <input type="text">
            <br>
            <label>ジャンル</label>
            <select>
                <option>こんにちは</option>
                <option>こんばん</option>
            </select>
        </form>
    <div>
</section>
